<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.online.ssm.mapper.NoticeMapper">
    <update id="clearNotice" parameterType="String">
      UPDATE studentinfo set noticenum = 0 where realname=#{realname}
    </update>

    <insert id="addNotice" parameterType="cn.online.ssm.po.NoticePo">
        INSERT INTO classnotice(id,classno,notice,author,pubtime) VALUE (NULL,#{classno},#{notice},#{author},#{pubtime})
    </insert>

    <update id="addNoticeNum" parameterType="int">
        UPDATE  studentinfo SET noticenum = noticenum + 1 WHERE classno=#{classno}
    </update>

    <update id="updateNotice" parameterType="cn.online.ssm.po.NoticePo">
        UPDATE classnotice
        SET notice = #{notice},
            author = #{author},
            pubtime = #{pubtime}
        WHERE
	        id = #{id};
    </update>

    <delete id="deleteNotice" parameterType="int">
      DELETE FROM classnotice WHERE id=#{id}
    </delete>
</mapper>