<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.online.ssm.mapper.TestMapper">
    <insert id="addExamItem" parameterType="cn.online.ssm.po.ExamItemPo">
        <![CDATA[
         INSERT INTO exams VALUE(NULL,#{examname},#{subject},#{examtime},#{author},#{classno})
        ]]>
    </insert>

    <delete id="deleteExamItem" parameterType="String">
        DELETE FROM exams WHERE id=#{value}
    </delete>

    <select id="getAllExamItem" parameterType="Map" resultType="Map">
        <![CDATA[
         SELECT id,examname FROM exams WHERE classno=#{classno}&&subject=#{subject}
        ]]>
    </select>

    <update id="createExamTable" parameterType="String">
        <![CDATA[
        CREATE TABLE IF NOT EXISTS ${value}(
            id INT AUTO_INCREMENT PRIMARY KEY,
            title VARCHAR(100),
            opt1 VARCHAR(20),
			opt2 VARCHAR(20),
			opt3 VARCHAR(20),
			opt4 VARCHAR(20),
			opt5 VARCHAR(5)
        )]]>
    </update>

    <insert id="addExamPaperItem" parameterType="Map">
      <![CDATA[
        INSERT INTO ${tablename} VALUES (NULL,#{title},#{opt1},#{opt2},#{opt3},#{opt4},#{opt5});
        ]]>
    </insert>

    <update id="deleteExamTable" parameterType="String">
        DROP TABLE IF EXISTS ${value}
    </update>

</mapper>