<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.online.ssm.mapper.TestMapper">
    <insert id="addExamItem" parameterType="cn.online.ssm.po.ExamItemPo">
        <![CDATA[
         INSERT INTO exams VALUE(NULL,#{examname},#{subject},#{examtime},#{author},#{classno})
        ]]>
    </insert>

    <delete id="deleteExamItem" parameterType="String">
        <![CDATA[DELETE FROM exams WHERE id=#{value}]]>
    </delete>

    <select id="getAllExamItem" parameterType="Map" resultType="Map">
        <![CDATA[
         SELECT id,examname,examtime,subject FROM exams]]>
          <where>
            <if test="classno != null">
                <![CDATA[ AND classno=#{classno}]]>
            </if>
            <if test="subject != null">
                <![CDATA[ AND subject=#{subject}]]>
            </if>
        </where>
    </select>

    <update id="createExamTable" parameterType="String">
        <![CDATA[
        CREATE TABLE IF NOT EXISTS ${value}(
            id INT AUTO_INCREMENT PRIMARY KEY,
            title VARCHAR(140),
            opt1 VARCHAR(30),
			opt2 VARCHAR(30),
			opt3 VARCHAR(30),
			opt4 VARCHAR(30),
			opt5 VARCHAR(5)
        )]]>
    </update>

    <insert id="addExamPaperItem" parameterType="Map">
      <![CDATA[
        INSERT INTO ${tablename} VALUES (NULL,#{title},#{opt1},#{opt2},#{opt3},#{opt4},#{opt5});
        ]]>
    </insert>

    <update id="deleteExamTable" parameterType="String">
        DROP TABLE IF EXISTS ${value}
    </update>

    <select id="getAllPaperItem" parameterType="String" resultType="cn.online.ssm.po.ExamPaperPo">
        <![CDATA[
         SELECT * FROM ${value}
        ]]>
    </select>

    <update id="updateExamPaperItem" parameterType="Map">
        UPDATE ${tablename}
        SET title = #{title},
        opt1 = #{opt1},
        opt2 = #{opt2},
        opt3 = #{opt3},
        opt4 = #{opt4}
        WHERE
        id = #{id}
    </update>

</mapper>