<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.online.ssm.mapper.UserMapper">
    <select id="stuLogin" parameterType="String" resultType="string">
        SELECT passwd FROM studentinfo WHERE realname = #{realname}
    </select>
    <select id="teaLogin" parameterType="String" resultType="string">
        SELECT passwd FROM teacherinfo WHERE realname = #{realname}
    </select>

    <update id="changePasswd" parameterType="Map">
        UPDATE ${tablename} SET passwd = ${passwd} where realname = ${realname}
    </update>
</mapper>