body{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    overflow-x:hidden;
}

/*登录框样式*/
#loginForm{
    text-align: center;
    width:330px;
    height:300px;
    margin-top:150px;
    margin-left: 38%;
}

/*登陆界面背景*/
#loginBody{
    background: url("../image/loginBackground.jpg");
    background-size: 100% 100%;
}

/*登录界面大标题*/
.loginTitle{
    color: white;
    margin-top: 50px;
    margin-left: 27%
}

.loginTitleSmall{
    color: white;
    margin-top: 20px;
    margin-left: 45%
}

/*分隔线样式*/
.splitLine{
    background: url("../image/split.png") no-repeat;
    width:100%;
    height: 2px;
    margin-left: 36%;
}

/*主页面head区域*/
#mainHeader{
    background-color: #2e3e4c;
    width:100%;
    height:50px;
}

/*主页面头像区域*/
.avatar{
    width:200px;
    height:100%;
    padding-left: 40px;
    background-color: #218380;
    font-size: 18px;
    color: #ffffff;
    line-height:50px;
    overflow:hidden;
}

/*头像下拉菜单*/
.avaterMenu{
    width:200px;
    background-color: #218380;
    color: #ffffff;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 50px;
    border-top: hidden;
}

/*主页面左nav区域*/
#mainNavLeft{
    background-color: #2e3e4c;
    border-right: 1px #218380 solid;
    padding-bottom: 20px;
    overflow:auto;
    width:200px;
    min-height:100%;
    height:auto;
}

/*学科div样式*/
.subject{
    width:100%;
    height: 60px;
    color:white;
    font-size: x-large;
    cursor: pointer;
    padding: 15px 20px;
    background-color: #2e3e4c
}

.examContent{
    color: #fff;
    margin: 0px 10px;
    padding-left: 5px;
    border-radius: 5px;
}

.examContent-s1{
    background-color: #d81159;
}

.examContent-s2{
    background-color: #ffbc42;
}

.examContent-s3{
    background-color: #218380;
}

/*表单前缀addon修改宽度保持一致*/
.input-addon-mine{
    width: 80px;
}

/*修改表单样式*/
#modifyForm{
    text-align: center;
    width:350px;
    height:300px;
    margin-top:150px;
    margin-left: 38%;
}
