body{
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    overflow-x:hidden;
}

#footer{
    width:100%;
    height:80px;
    margin:0px;
    background-color: #2e3e4c;
}

/*登录框样式*/
#loginForm{
    text-align: center;
    width:330px;
    height:300px;
    margin-top:150px;
    margin-left: 38%;
}

/*登陆界面背景  背景图自适应拉伸*/
#loginBody{
    background: url("../image/loginBackground.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*登录界面大标题*/
.loginTitle{
    color: white;
    margin-top: 50px;
    margin-left: 27%
}

.loginTitleSmall{
    color: white;
    margin-top: 20px;
    margin-left: 45%
}

/*分隔线样式*/
.splitLine{
    background: url("../image/split.png") no-repeat;
    width:100%;
    height: 2px;
    margin-left: 36%;
}

/*-------------------------------------------------------------*/

/*主页面head区域*/
#mainHeader{
    background-color: #2e3e4c;
    width:100%;
    height:50px;
}

/*主页面头像区域*/
.avatar{
    width:200px;
    height:100%;
    padding-left: 40px;
    background-color: #218380;
    font-size: 18px;
    color: #ffffff;
    line-height:50px;
    overflow:hidden;
}

/*头像下拉菜单*/
.avaterMenu{
    width:200px;
    background-color: #218380;
    color: #ffffff;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 50px;
    border-top: hidden;
}

/*公告区域*/
.notice{
    width:200px;
    height:100%;
    padding-left: 40px;
    background-color: #218380;
    font-size: 18px;
    color: #ffffff;
    line-height:50px;
    overflow:hidden;
}

/*公告下拉菜单*/
.noticeMenu{
    width:202px;
    background-color: #218380;
    color: #ffffff;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 50px;
    border-top: hidden;
}

/*公告数量提示样式*/
#noticeNum {
    top:5px;
    left: 30px;
    background-color: orangered;
    position: relative;
    float: left;
    z-index:1
}

/*自定义徽章样式*/
.self-badge{
    background-color: orangered;
    color: #FFFFFF;
}

/*主页面左nav区域*/
#mainNavLeft{
    background-color: #2e3e4c;
    padding-bottom: 20px;
    overflow:auto;
    width:250px;
    min-height: 80%;
    height:auto;
    margin-bottom: 0px;
}

/*学科div样式*/
.subject{
    width:100%;
    height: 60px;
    color:white;
    font-size: x-large;
    cursor: pointer;
    padding: 15px 20px;
    background-color: #2e3e4c
}

.examContent{
    color: #fff;
    margin: 0px 10px;
    padding-left: 5px;
    border-radius: 5px;
}

.examContent-s1{
    background-color: #d81159;
}

.examContent-s2{
    background-color: #ffbc42;
}

.examContent-s3{
    background-color: #218380;
}

/*-------------------------------------------------------------*/

/*表单前缀addon修改宽度保持一致*/
.input-addon-mine{
    width: 80px;
}

/*修改表单样式*/
#modifyForm{
    text-align: center;
    width:350px;
    height:300px;
    margin-top:150px;
    margin-left: 38%;
}

/*-------------------------------------------------------------*/

/*公告面板样式*/
#noticePanel{
    left:28%;
    top: 100px;
    width: 600px;
    height: 60%;
    margin-bottom: 10px;
    position: relative;

}

/*多级下拉菜单样式*/
/*-------------------------------------------------------------*/

.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: -200%;
    -webkit-border-radius: 6px 0px 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*-------------------------------------------------------------*/

/*阴影框*/
.deleteShadow{
    width:0px;
    height:0px;
    background: rgba(239, 255, 233, 0.6);/*透明背景色，不透明其文字内容*/
    position:absolute;
    left:0;
    bottom:0;
    color:#fff;
    text-align: center;        /*文字水平居中对齐*/
    overflow:hidden;
}

/*-------------------------------------------------------------*/

